:root {
    --background: f9f9f9f9;
    --text-color-light: #5d5c62;
    --border-color: #d3d3d3;
} 
.header {
    background-color: #fff;
}
.header .logo, .header .left-item a, .header .right-start {
    color: var(--text-color);
}
.section-title, .section-desc {
    color: var(--text-color)
}
.feature-item {
    background-color: #f0f0f2;
}
.feature-title {
    color: var(--text-color);
}
#price .feature .feature-name {
    color: var(--text-color);
}
#price .plan {
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.055), -5px -5px 20px rgba(0, 0, 0, 0.1);
}
#price .plan .body h1 {
    color: var(--text-color);
}
#price .plan .body span {
    color: var(--text-color);
}
#price .plan .head h3 {
    color: var(--text-color);
}
#work .work-img {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.055), -5px -5px 50px rgba(0, 0, 0, 0.1);
}
#goal .feature-item {
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.055), -5px -5px 20px rgba(0, 0, 0, 0.1);
    border: none;
}
.feature-item:hover .feature-title {
    transition: none;
    color: #fff;
}
.miss-text {
    color: var(--text-color)
}
.footer {
    color: var(--text-color);
}
.footer-item a {
    color: var(--text-color);
}
.footer .back {
    color: var(--text-color);
}
.footer .made a {
    border-color: var(--text-color);
    color: var(--text-color);
}
#introduction .dark-border {
    border: 1px solid var(--border-color);
}
#video iframe {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.055), -5px -5px 50px rgba(0, 0, 0, 0.1);
}
.editor-item .item-title {
    color: var(--text-color);
}
.builder, .editor-tool {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.055), -5px -5px 20px rgba(0, 0, 0, 0.1);

}